@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply scroll-smooth dark:border-dark;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }

    body {
        @apply bg-base stroke-none text-neutral dark:bg-base-dark dark:text-neutral-dark;
    }

    body * {
        @apply transition-all duration-150 ease-out;
    }

    h1 {
        @apply mb-6 text-3xl font-bold;
    }

    h2 {
        @apply mb-6 text-2xl font-bold;
    }

    h2 > svg {
        @apply h-8 w-8;
    }

    img {
        @apply rounded object-cover;
    }

    path {
        stroke-linejoin: round;
        stroke-linecap: round;
    }

    input[type='checkbox'] {
    }

    input[type='radio'] {
    }

    button > svg {
        @apply h-6 w-6;
    }
}

@layer components {
    .accordion {
        @apply border-t py-4;
    }

    .accordion summary {
        @apply flex cursor-pointer select-none items-center justify-between font-semibold;
    }

    .accordion div {
        @apply prose pt-4 opacity-0;
    }

    .accordion[open] div {
        @apply opacity-100;
    }

    .accordion[open] svg {
        @apply rotate-180;
    }

    .btn {
        @apply flex justify-center rounded border py-3 px-4 normal-case;
    }

    .btn-primary {
        @apply border-none bg-primary text-white hover:bg-primary-hover;
    }
}

@layer utilities {
    .prose {
        @apply text-current;
    }
}
