@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply transition-all duration-200 ease-out dark:border-[#424245a1];
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }

    h2 {
        @apply text-2xl font-bold mb-[1em];
    }

    img {
        @apply rounded object-cover;
    }

    path {
        stroke-linecap: round;
    }
}

@layer components {
    .btn {
        @apply normal-case rounded;
    }
}
